<!DOCTYPE html>
<html ng-app="ecommerceStore">
  <head>
    <meta charset="utf-8">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/products_all.css" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          <li><a href="/">HOME</a></li>
          <li><a href="/cart/:id">CART</a></li>
        </ul>
      </nav>
    </header>
    <main class="wrapper">
      <h1>Products</h1>
      <div class="product" ng-if="main.productsloaded" ng-repeat="product in main.products">
        <a href="products/id"><img src="{{product.img}}" class="productImg" src="https://d30y9cdsu7xlg0.cloudfront.net/png/683139-200.png" alt=""></a>
        <p> {{ pCtrl.description }} </p>
        <small>${{ pCtrl.price }} </small>
        <form ng-submit="main.addToCart(newProduct)">
          <button class="btn btn-primary" type="submit">Add this product to cart</button>
        </form>
      </div>
    </main>
  </body>
</html>
